<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>

</head>
<body>
    
  <a href="/add" class="button">დამატება</a>
  <br>
  <br>
<table>
  <thead>
    <tr>
      <th>ნივთის სახელი</th>
      <th>
        ნივთის ადგილმდებარეობა
        <select id="list" onchange="">
          <option value="ყველა">ყველა</option>
          <option value="მთავარი ოფისი">მთავარი ოფისი</option>
          <option value="კავეა გალერეა">კავეა გალერეა</option>
          <option value="კავეა თბილისი მოლი">კავეა თბილისი მოლი</option>
          <option value="კავეა ისთ ფოინთი">კავეა ისთ ფოინთი</option>
          <option value="კავეა სითი მოლი">კავეა სითი მოლი</option>
        </select>
      <th>ფასი (ლარებში)</th>
      <th>ოპერაციები</th>
    </tr>
  </thead>
    <tbody>
    <% for (let item of items) { %>
      
      <tr>
        <td> <%= item.itemName %></td>
        <td><%= item.selectedLocation %></td>
        <td><%= item.itemPrice %></td>
        <td>
          <form action="/inventories/<%= item.id %>?_method=DELETE" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit">Delete</button>
          </form>
        </td>
      </tr>
        <% } %>

    </tbody>
  </table>
  


</body>
</html>